.card {
  display: flex;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000001A;
  cursor: pointer;
}

.card_active .card__content {
  width: 100%;
  background-color: #E0E0E0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card__content {
  padding: 15px;
}

.card__content__name {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}