.searchForm {
  flex: 1;
  padding: 25px 30px 25px 20px;
  border-right: 1px solid #E0E0E0;
}

.searchForm__title {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.searchForm__input {
  width: 100%;
  padding: 15px 25px;
  margin-bottom: 20px;
  border: 1.5px solid #E9ECEF;
  border-radius: 8px;
}